<div class="card-grid">
  <div class="main-cards">

    <div class="card-container" routerLink ="/{{moduleRouterName}}/{{routerPathOne}}" routerLinkActive="active">
      <div class="card-body">
        <div class="card-header">
          <div class="card-icon">
            <span class="material-symbols-outlined">favorite</span>
          </div>
          <span class="card-title">RCP - Anotador</span>
        </div>
        <div class="card-content">Registre todas as intervenções</div>
        <!-- <div class="card-footer">Atualização: 05/08/2024</div> -->
      </div>
    </div>

    <div class="card-container" routerLink ="/{{moduleRouterName}}/{{routerPathTwo}}" routerLinkActive="active">
      <div class="card-body">
        <div class="card-header">
          <div class="card-icon">
            <span class="material-symbols-outlined">medical_services</span>
          </div>
          <span class="card-title">Cuidados pós PCR</span>
        </div>
        <div class="card-content">Registre os cuidados</div>
        <!-- <div class="card-footer">Atualização: 05/08/2024</div> -->
      </div>
    </div>

    <div class="card-container" routerLink ="/{{moduleRouterName}}/{{routerPathThree}}" routerLinkActive="active">
      <div class="card-body">
        <div class="card-header">
          <div class="card-icon">
            <span class="material-symbols-outlined">description</span>
          </div>
          <span class="card-title">Revisão do cenário</span>
        </div>
        <div class="card-content">Download e revisão</div>
        <!-- <div class="card-footer">Atualização: 05/08/2024</div> -->
      </div>
    </div>

  </div>

  <div class="card-container" routerLink ="/setup" routerLinkActive="active">
    <div class="card-body">
      <div class="card-header">
        <div class="card-icon">
          <span class="material-symbols-outlined">logout</span>
        </div>
        <span class="card-title">Sair da aplicação</span>
      </div>
      <div class="card-content">Voltar para setup</div>
    </div>
  </div>
</div>
