<div class="card-grid">

  <div
    class="card-container"
    [routerLink]="['/private/pcr-anotacoes']"
    routerLinkActive="active">
    <div class="card-body">
      <div class="card-header">
        <div class="card-icon">
          <span class="material-symbols-outlined">favorite</span>
        </div>
        <span class="card-title">RCP - Anotador</span>
      </div>
      <div class="card-content">Siga o passo a passo</div>
      <div class="card-footer">Atualização: 05/08/2024</div>
    </div>
  </div>

  <div
    class="card-container"
    [routerLink]="['/private/cuidados-pos']"
    routerLinkActive="active">
    <div class="card-body">
      <div class="card-header">
        <div class="card-icon">
          <span class="material-symbols-outlined">medical_services</span>
        </div>
        <span class="card-title">Cuidados pós PCR</span>
      </div>
      <div class="card-content">Siga o passo-a-passo</div>
      <div class="card-footer">Atualização: 05/08/2024</div>
    </div>
  </div>

  <div
    class="card-container"
    [routerLink]="['/private/pcr-review']"
    routerLinkActive="active">
    <div class="card-body">
      <div class="card-header">
        <div class="card-icon">
          <span class="material-symbols-outlined">cloud_download</span>
        </div>
        <span class="card-title">Revisão e Download</span>
      </div>
      <div class="card-content">Sequência rápida de IOT</div>
      <div class="card-footer">Atualização: 05/08/2024</div>
    </div>
  </div>

</div>