<div class="page">
    <header class="navigation-bar">

        <div class="logo-image-container">
            <img
            src="assets/images/selath-inovation-logo.png"
            alt="Selath Innovation"
            />
        </div>

        <nav class="navbar-links">
            <a href="#produtos" class="link-item">Produtos</a>
            <a href="#casos-de-uso" class="link-item">Casos de Uso</a>
            <a href="#sobre" class="link-item">Sobre nós</a>
        </nav>

        <a href="#lista-espera" class="navbar-button">
            Lista de espera
        </a>

    </header>
    <router-outlet></router-outlet>
</div>